@import "./view-styles.css";

html {
	--lumo-font-family: "Siemens Sans",Arial,sans-serif;
	--lumo-base-color: #FFFFFF;
	--lumo-body-text-color: #1B1534;
	--lumo-header-text-color: #1b1534;	
	
	--lumo-primary-text-color: #1b1534;
	--lumo-primary-color: #38206A;
	--lumo-primary-color-50pct: #8A00E5;
	--lumo-primary-color-10pct: #ADA9C2;
	
	--lumo-disabled-text-color: #F8F8F8;
	
	--lumo-error-text-color: #DA1E28;
	--lumo-error-color: #E85960;
	
	--lumo-font-size-xxxl: 60px;
	--lumo-font-size-xxl: 44px;
	--lumo-font-size-xl: 36px;
	--lumo-font-size-l: 26px;
	--lumo-font-size-m: 18px;
	--lumo-font-size-s: 16px;
	--lumo-font-size-xs: 14px;
	--lumo-font-size-xxs: 12px;
	
	--_lumo-button-primary-background-color: var(--lumo-primary-color-50pct);
	--_lumo-button-primary-color: var(--lumo-base-color);
	
}