/*
These view specific styles are global scoped (like styles.css),
but in another file to keep things cleaner. You can have even one
file per each view, in case there is a lot of css.
*/
H1 {
	line-height: 70px;
	letter-spacing: -0.4px;
}
H2 {
	line-height: 52px;
	letter-spacing: -0.3px;
}
H3 {
	line-height: 42px;
	letter-spacing: 0px;
}
H4 {
	line-height: 32px;
	letter-spacing: 0px;
}
H5 {
	line-height: 20px;
	letter-spacing: 0.4px;
}
H6 {
	line-height: 28px;
	letter-spacing: 0px;
}

div.se-logo {
    height: 52px;
    width: 152px;
    background: url(./images/SE_Logo_White_RGB.svg) no-repeat;
    background-size: 152px 52px;
    margin-left: var(--lumo-space-m);
}
div.siemens-energy-icon {
	height: 100px;
    width: 100px;
}
/* icons */
.iconMdsp {
	padding: 0.25em;
	font-size: 20px;
}
span .icon-big {
	font-size: 24px;
}
span .icon-small {
	font-size: 16px;
}
/* navbar (top) */
[slot='navbar'] {
	height: 72px;
	align-items: center;
	width: 100%;
	margin-right: var(--lumo-space-l);
}
vaadin-drawer-toggle {
	color: var(--lumo-base-color);
}
[slot='navbar']  vaadin-button {
	margin-left: var(--lumo-space-xs);
	margin-right: var(--lumo-space-xs);
	color: var(--lumo-base-color);
}
[slot='navbar']  vaadin-button:hover {
	cursor: pointer;
}
/* drawer (left) */
[slot='drawer'] {
	background-image: none;
}
nav {
	margin-top: var(--lumo-space-m);
}
nav a {
	color: var(lumo-body-text-color);
}
nav a[highlight] {
	background-color: #221D43;
	color: var(--lumo-base-color)!important;
}
nav a[highlight]:before {
	background-color: transparent!important;
}
nav a:hover {
	color: var(lumo-body-text-color);
	text-decoration: none;
	background-color: #ADA9C2;
}
nav a[highlight]:hover {
	background-color: #221D43;
	color: var(--lumo-base-color)!important;
}
.se-button:active {
	box-shadow: 0px 0px 15px rgba(138, 0, 229, 0.6), 0px 0px 10px rgba(138, 0, 229, 0.8);
}
.se-button:hover {
    border: 2px solid #1B1534;
    transition: border .5s cubic-bezier(0.17,0.17,0.34,1),box-shadow .5s cubic-bezier(0.17,0.17,0.34,1);
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.se-button {
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: normal;
    margin-bottom: var(--lumo-space-s);
}

a.se-link {
	font-size: 18px;
	line-height: 22px;
	color: #1B1534;
	border-bottom: 1px solid #8A00E5;
	text-decoration: none;
}
a.se-link:hover {
	color: #8A00E5;
	text-decoration: none;
}
a.se-link:active {
	color: #3D0F4D;
	text-decoration: none;
}