:host {
	border-radius: 30px;
}
:host(:not([theme])) {
	border: 2px solid var(--lumo-primary-color-50pct);
	min-width: 8em;
	color: var(--lumo-primary-color-50pct);
}
:host(:not([theme]):hover) {
	border: 2px solid #641E8C;
	color: #641E8C;
	background: rgba(100, 30, 140, 0.1);
}
:host(:not([theme]):active) {
	color: #3D0F4D;
	border: 2px solid #3D0F4D;
	background: rgba(61, 15, 77, 0.1);
}


:host([theme~='primary']) {
	color: var(--lumo-base-color);
	min-width: 8em;
}
:host([theme~='primary']:hover) {
	background-color: #641E8C;
}
:host([theme~='primary']:active) {
	background-color: #3D0F4D;
}



:host([theme~='contrast']) {
	background: var(--lumo-primary-text-color);
	color: var(--lumo-base-color)!important;
	min-width: 8em;
	margin: 3px;
}
:host([theme~='contrast']:hover) {
	background: #3D0F4D;
}