thead tr:last-child th {
	position: relative;
	line-height: 30px;
	padding-bottom: 3px;
}

thead tr:last-child th::after {
	content: '';
	height: 3px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFFFFF;
	background: -moz-linear-gradient(left, #FFFFFF 0px, #FFFFFF 2px, #4d217a 2px, #4d217a calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
	background: -webkit-linear-gradient(left, #FFFFFF 0px, #FFFFFF 2px, #4d217a 2px, #4d217a calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
	background: linear-gradient(to right, #FFFFFF 0px, #FFFFFF 2px, #4d217a 2px, #4d217a calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
}

thead tr:last-child th:first-child::after {
	content: '';
	height: 3px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFFFFF;
	background: -moz-linear-gradient(left, #4d217a 0px, #4d217a calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
	background: -webkit-linear-gradient(left, #4d217a 0px, #4d217a calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
	background: linear-gradient(to right, #4d217a 0px, #4d217a calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
}

td {
	position: relative;
	line-height: 30px;
	padding-bottom: 1px;
}

td::after {
	content: '';
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFFFFF;
	background: -moz-linear-gradient(left, #FFFFFF 0px, #FFFFFF 2px, #1b1534 2px, #1b1534 calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
	background: -webkit-linear-gradient(left, #FFFFFF 0px, #FFFFFF 2px, #1b1534 2px, #1b1534 calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
	background: linear-gradient(to right, #FFFFFF 0px, #FFFFFF 2px, #1b1534 2px, #1b1534 calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
}

tr td:first-child::after {
	content: '';
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFFFFF;
	background: -moz-linear-gradient(left, #1b1534 0px, #1b1534 calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
	background: -webkit-linear-gradient(left, #1b1534 0px, #1b1534 calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
	background: linear-gradient(to right, #1b1534 0px, #1b1534 calc(100% - 2px), #FFFFFF calc(100% - 2px), #FFFFFF 100%);
}