[slot="input"] {
	border: 1px solid #5D596E;
	box-sizing: border-box;
	border-radius: 4px;
}

[slot="input"]:hover {
	border: 1px solid var(--lumo-primary-color-50pct);
}

:host([invalid]) [slot="input"] {
	border: 1px solid var(--lumo-error-color);
}

:host([focused]) [slot="input"] {
	border: 1px solid var(--lumo-primary-color-50pct);
}