[part="toggle-button"] {
    color: var(--text-color);
}
[part="input-field"] {
    border: 1px solid #5D596E;
	box-sizing: border-box;
	border-radius: 4px;
}
:host(:hover:not([readonly]):not([focused])) [part="input-field"] {
    border: 1px solid var(--lumo-primary-color-50pct);
	box-sizing: border-box;
	border-radius: 4px;
}
:host(:hover:not([readonly]):not([focused])) [part="toggle-button"] {
	color: var(--lumo-primary-color-50pct);
}
