[part~="input-field"]  {
	border: 1px solid #5D596E;
	box-sizing: border-box;
	border-radius: 4px;
}

[part~="input-field"] :hover {
	border: 1px solid var(--lumo-primary-color-50pct);
}

:host([invalid]) [part~="input-field"]  {
	border: 1px solid var(--lumo-error-color);
}

:host([focused]) [part~="input-field"] {
	border: 1px solid var(--lumo-primary-color-50pct);
}