:host {
	border-radius: 0!important;
}
:host(:not([theme])) {
	border: 0px none!important;
	min-width: unset!important;

}
:host(:not([theme]):hover) {
	border: 0px none!important;
}
:host(:not([theme]):active) {
	border: 0px none!important;
}