[slot='navbar'] {
	background-color: #1b1534;
	height: 72px;
	align-items: center;
}
[part='navbar']::before {
    background-color: #1b1534;
    height: 72px;
}
[part='drawer'] {
    background: linear-gradient(314.2deg, rgba(27, 21, 52, 0.5) 0%, rgba(27, 21, 52, 0.0001) 77.81%);
    border-right: 1px solid #768b97;
}