:host {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0.4px;
}
:host([selected]) {
	color: #1B1534;
	background-color: #F0F0F0;
}
:host([selected])::before, :host([selected])::after {
	background-color: var(--lumo-primary-color-50pct);
}
:host::before, :host::after {
	width: 100%;
}