:host {
	border-bottom: 1px solid #ADA9C2;
}
[part="summary"] {
	font-size: 26px;
	line-height: 32px;
	color: #1B1534;
}
[part="toggle"] {
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	color: #1B1534;
	transition: transform 0.5s;
}
[part="toggle"]::before {
	content: var(--lumo-icons-plus);
}
:host([opened]) [part='toggle'] {
    transform: rotate(45deg);
}
:host(:not([disabled])) [part='summary']:hover, :host(:not([disabled])) [part='summary']:hover [part='toggle'] {
    color: #1B1534;
}